<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Developer Skills</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Take a look at these important skills you should learn</h1>
    <ul> 
        <% skills.forEach(function(s) { %>
            <li>
                <form action="/skills/<%= s.name %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
                <a href="/skills/<%= s.name %>"><%= s.name %></a>
            </li>
        <% }); %>
    </ul>
    <a href="/skills/new">Add a new skill</a>
</body>
</html>